.product-card{
    position: relative;
    max-width: 100px;
}


.image{
height: 350px;
width: 280px;
position: relative;
display: inline-block;
border-radius: 10px 10px 0px 0px;
}

.discount{
bottom: 330px;
left: 25px;
color: white;
text-decoration-color: red;
border-radius: 10px;
position: relative;
display:block;
}

.heart-sign{
    bottom: 350px;
    left: 210px;
max-width: 20px;
position: relative;

}

.text{
    color: seagreen;
}
.star{
    max-width: 100px;
    display: flex;
    gap: 5px;
}
.add{
    text-decoration-color:rgba(11, 11, 209, 0.974).;
    color:rgb(145, 29, 29);
}